---
# tasks install file for Docker

- name: uninstall old versions
  apt:
    pkg:
      - docker
      - docker-engine
      - docker.io
      - containerd
      - runc
    state: absent

- name: install docker dependencies
  apt:
    pkg:
      - apt-transport-https
      - ca-certificates
      - curl
      - gnupg
      - lsb-release
      - python3-pip
    state: present
    update_cache: yes

- name: install docker pip module
  pip:
    name: docker

- name: add docker repository
  deb822_repository:
    name: docker
    types: deb
    uris: "{{ docker_url }}"
    suites: "{{ ansible_distribution_release }}"
    components: "{{ docker_channel }}"
    architectures: "{{ pkg_arch }}"
    signed_by: "{{ docker_url }}/gpg"
    state: present

- name: install docker
  apt:
    pkg:
      - docker-ce
      - docker-ce-cli
      - containerd.io
    state: present
    update_cache: yes
